.card__btn {
  width: 149px;
  height: 59px;
  border: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  color: white;
  font-style: italic;
  font-size: 16px;
  cursor: pointer;
  opacity: 100%;
  margin-top: 75px;
}

.card__btn:hover {
  opacity: 80%;
}

.card__btn_footer {
  width: 179px;
  margin-top: 25px;
}