.menu-popup__add-btn {
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  opacity: 100%;
}

.menu-popup__add-btn:hover {
  opacity: 80%;
}