.header__profile-btn {
  margin: 20px 30px 0 0;
  border: none;
  background-color: black;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  opacity: 100%;
  cursor: pointer;
}

.header__profile-btn:hover {
  opacity: 50%;
}
